---
import Layout from "../layouts/DefaultLayout.astro";
---
<Layout title="404 | NanoFrontier Careers" description="Not Found" canonical="https://careers.nanofrontier.jp/404/">
  <h1>ページが見つかりません</h1>
  <p><a href="/">トップへ戻る</a></p>
</Layout>


